*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{
width:100%;
overflow-x:hidden;
}

body{

font-family:'Orbitron',sans-serif;

background:#000;

color:white;

height:100vh;
overflow:hidden;

min-height:100vh;

display:flex;

justify-content:center;

padding:20px;

position:relative;
}

/* BACKGROUND */


.background{

position:absolute;

inset:0;

background:
radial-gradient(circle at top left,rgba(0,255,255,.15),transparent 30%),
radial-gradient(circle at bottom right,rgba(0,100,255,.18),transparent 35%),
linear-gradient(135deg,#000000,#020b14,#000000);

z-index:0;

overflow:hidden;
}

/* PARTICLES */

.particles{

position:absolute;

inset:0;

background-image:
radial-gradient(cyan 1px, transparent 1px);

background-size:40px 40px;

opacity:.12;

z-index:1;
}

/* CONTAINER */

.container{

max-height:90vh;
overflow:hidden;

display:flex;
flex-direction:column;
position:relative;

z-index:5;

width:100%;

max-width:390px;

margin:auto;

padding:18px 16px;

border-radius:24px;

background:rgba(10,10,10,.65);

backdrop-filter:blur(14px);

border:1px solid rgba(0,255,255,.2);

box-shadow:0 0 20px rgba(0,255,255,.18);

text-align:center;

background:rgba(0,0,0,.55);

backdrop-filter:blur(18px);

-webkit-backdrop-filter:blur(18px);

}

/* PROFILE */

.profile{
height:fit-content;

animation:floating 3s ease-in-out infinite;

width:95px;
height:95px;

object-fit:cover;

border-radius:22px;

border:2px solid cyan;

box-shadow:0 0 15px cyan;

display:flex;
justify-content:center;
align-content:center;
margin-left:auto;
margin-right:auto;

margin-bottom:14px;
}

/* TITLE */


h1 {

font-size:24px;

margin-bottom:6px;

color:#00ffee;

text-shadow:
0 0 5px cyan,
0 0 15px cyan,
0 0 30px rgba(0,255,255,.7);

letter-spacing:2px;
}


/* SUBTITLE */

.subtitle{

font-size:13px;

color:#ccc;

line-height:1.4;

margin-bottom:10px;
}

/* BADGE */

.status-box{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:7px;

margin-bottom:12px;
}

.status-box span{

padding:6px 12px;

border-radius:20px;

background:#111;

border:1px solid cyan;

font-size:11px;
}

/* BUTTON */

.card{

display:flex;

align-items:center;

justify-content:center;

gap:10px;

text-decoration:none;

background:#111;

color:white;

padding:11px;

margin-bottom:8px;

border-radius:15px;

font-weight:600;

border:1px solid #222;

transition:.3s;
}


.card:hover{

transform:translateY(-3px) scale(1.02);

border-color:cyan;

box-shadow:
0 0 10px cyan,
0 0 20px cyan,
0 0 35px rgba(0,255,255,.4);

background:#0b0b0b;
}


.special{

background:linear-gradient(45deg,#00ffee,#0088ff);

color:black;
}

/* FOOTER */

footer{

margin-top:6px;

text-align:center;

font-size:11px;

color:#777;
}


@keyframes floating{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-6px);
}

100%{
transform:translateY(0px);
}
}


.card:nth-child(7):hover{

box-shadow:
0 0 10px #00ff88,
0 0 25px #00ff88;
}

.card:nth-child(6):hover{

box-shadow:
0 0 10px #ff00aa,
0 0 25px #ff00aa;
}
