*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Orbitron',sans-serif;

background:black;

overflow:hidden;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

position:relative;

color:white;
}

.background{

position:fixed;

width:100%;
height:100%;

background:
radial-gradient(circle at top left,#00ffee33,transparent 30%),
radial-gradient(circle at bottom right,#0066ff33,transparent 30%),
black;

animation:bgMove 10s infinite alternate ease-in-out;

z-index:0;
}

@keyframes bgMove{

0%{
transform:scale(1);
filter:hue-rotate(0deg);
}

100%{
transform:scale(1.1);
filter:hue-rotate(30deg);
}
}

.particles{

position:fixed;

width:100%;
height:100%;


background-image:
radial-gradient(cyan 1px, transparent 1px);

background-size:40px 40px;

opacity:0.15;

animation:moveParticles 30s linear infinite;

z-index:1;
}

@keyframes moveParticles{

from{
transform:translateY(0);
}

to{
transform:translateY(-200px);
}
}


.container{

position:relative;

z-index:5;

width:90%;
max-width:420px;

padding:20px 15px;

border-radius:25px;

background:rgba(255,255,255,0.05);

backdrop-filter:blur(15px);

border:1px solid rgba(250,250,250,0.1);

box-shadow:0 0 40px rgba(0,255,255,0.25);

text-align:center;

animation:fadeUp 1s ease;
}

@keyframes fadeUp{

from{
opacity:0;
transform:translateY(30px);
}

to{
opacity:1;
transform:translateY(0);
}
}

.profile{

width:95px;
height:95px;

border-radius:50%;

border:3px solid cyan;

box-shadow:0 0 25px cyan;

margin-bottom:20px;
}

h1{

font-size:28px;

color:#00ffee;

text-shadow:0 0 15px cyan;

margin-bottom:10px;
}

.subtitle{

font-size:14px;

color:#ddd;

margin-bottom:25px;
}

.status-box{

display:flex;

flex-wrap:wrap;

gap:10px;

justify-content:center;

margin-bottom:25px;
}

.status-box span{

padding:8px 12px;

border-radius:25px;

background:#111;

border:1px solid cyan;

font-size:12px;
}

.card{

display:flex;

align-items:center;

justify-content:center;

gap:12px;

text-decoration:none;

color:white;

background:#111;

padding:13px;

margin-bottom:12px;

border-radius:18px;

font-weight:600;

transition:0.3s;

border:1px solid #222;
}

.card:hover{

transform:translateY(-4px) scale(1.03);

border:1px solid cyan;

box-shadow:0 0 25px cyan;
}

.special{

background:linear-gradient(45deg,#00ffee,#0088ff);

color:black;

font-weight:700;
}

@media(max-width:480px){

.container{
padding:30px 20px;
}

h1{
font-size:24px;
}
}

.footer{

margin-top:25px;

font-size:12px;

color:#888;

text-align:center;

letter-spacing:1px;

text-shadow:0 0 10px cyan;
}
